
body {
    font-family: [Poppins]('https://fonts.google.com/specimen/Poppins');
    background-image: url("images/bg-desktop.svg");
    background-color: hsl(300, 69%, 71%);
    background-color: hsl(257, 40%, 49%);
    color: white;
    max-width: 100%;
}
.logo{
    width: 150px;
    height: auto;
    padding: 20px;
}
.illustration-mockups{
    max-width: 400px;
    padding: 35px;
}
.text{
    max-width: 300px;
    display: block;
    text-align: center;
    margin: auto;
}

button{
    display: block;
    margin: auto;
    border-radius: 70px;
    margin-bottom: 20px;
    padding: 15px 50px; 
    color: hsl(257, 40%, 49%);
}

section img{
    width: 100%;
    padding: 10px;
    height: auto;
}
footer{
    text-align: center;
    padding: 10px;
} 


/* RESPONSIVE DESIGN */
/*designing for mobile before designing for desktop (This will make the page display faster on smaller devices)*/



/* For desktop */
@media only screen and (min-width: 768px) {
    body{
        padding: 20px;
    }
    .illustration-mockups{
        max-width: 45%;
        float: left;
    }
}