body {
    background-image: url("images/bg-desktop.svg");
    background-color: hsl(300, 69%, 71%);
    background-color: hsl(257, 40%, 49%);
    color: white;
}


h1{
font-family:[Poppins](https://fonts.google.com/specimen/Poppins);
font-weight: 600;

}

p{
    font-family: [Open Sans](https://fonts.google.com/specimen/Open+Sans);
    font-weight: 400;
}
 
.logo{
    width: 150px;
    height: auto;
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.illustration-mockups{
    padding-left: 60px;
    padding-right: 60px;
    width: 500px;
    height: auto;
    float: left;
}
footer{
    width: 150px;
    clear: both;
    float: right;
    padding-right: 150px;
}